@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-neutral-950: #0a0a0a;
  --color-neutral-900: #171717;
  --color-neutral-800: #262626;
  --color-neutral-700: #404040;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #404040;
    border: 3px solid #171717;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-corner {
    background: transparent;
  }
}

